{% load static %}
{% load dko_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href={% static 'dko/css/zero_style.css' %}/>
	<link rel="stylesheet" type="text/css" href={% static "dko/css/style.css" %}/>
	
</head>

<body>
	
	<div class="container">
		<div class="header">

			<div class="header_topper">

				<div class="header_title">SITE</div>
				<div class="header_nav">
					<ul>
						{% for m in main_menu %}
						<li>{{m.title}}</li>
					</ul>
					{% endfor %}
				</div>
			
			</div>		
		</div>

		<div class="under">
			<div class="side_bar">
				<ul>
				{% for m in dko_side_bar %}
				<li>{{m.title}}</li>
				</ul>
				{% endfor %}
				</div>
			
			<div class="content">

			{% block content %}
			{% endblock %}
			</div>
		</div>
	</div>	
</body>
</html>