A {
	color: white;
}

.container {

	width: 100%;
	margin: auto;

}
.header {
	
	margin: auto;
}

.header_topper{
	max-width: 1300px;
	width: 100%;
	font-size: 20px;
	background-color: black;

	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 55px;
	
}

.selected{

}

.header_menu ul{
	height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.header_menu ul li{
	margin: 0 20px 0 20px;
	transition: all 0.2s;
}

.header_menu ul li:hover{
	font-size: 23px;
}



.header_title{
	margin-left: 20px;
}

.content{
	display: flex;
	width: 100%;
	max-width: 1300px;
	align-items: flex-start;
}

.left_menu{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 150px;
	height: 100vh;
	background-color: gray;

	font-size: 15px;
}
.left_menu a {
	font-size: 20px;
}
.left_menu li {
	margin: 20px;
}

.right_content{
	margin-left: 20px;
	width: 100%;
}

.right_content li{
	border-bottom: 1px solid black;
	width: 100%;

}

.blogs{
	max-width: 500px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.blogs h2{
	background-color: gray;

}

.blogs li{
	margin-top: 10px;
}

.content div:nth-child(1){
	width: 50px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
    color: red;
}
